.feature_section,
.about_section,
.services_section,
.contact_section {
  margin: 100px 0;
}

.feature_section_heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.feature_section_para {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.4rem;
  font-weight: 500;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
}

.card {
  width: 20rem;
  padding: 40px 20px;
  background-color: #c1272d;
}

.card > h3 {
  margin: 10px 0;
}

.card > p {
  font-size: 18px;
  line-height: 2rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about_image,
.about_content {
  width: 49%;
}

.about_image img {
  width: 100%;
  height: 100%;
}

.about_content {
  margin-left: 10px;
}

.about_content h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.about_sub_content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.about_sub_content:nth-child(3) {
  margin: 30px 0;
}

.about_sub_content_icon > svg {
  font-size: 30px;
  margin-right: 10px;
  color: #c1272d;
}

.about_sub_content_para > h3 {
  margin-bottom: 6px;
  font-weight: 600;
}

.about_sub_content_para > p {
  line-height: 1.5rem;
  font-size: 17px;
}

.services {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  position: relative;
  width: 22rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
  padding: 50px 20px;
  margin: 10px 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.service > svg {
  color: #c1272d;
  font-size: 40px;
  transition: all 0.4s ease-in-out;
}

.service > h2 {
  margin-top: 20px;
}

.service > p {
  margin: 20px 0;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  font-size: 18px;
}

.read_more {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  border: none;
  font-size: 17px;
  border: 1px solid #b4b4b4;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.read_more > span {
  margin-right: 3px;
}

.service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c1272d;
  top: 0;
  right: 99%;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.service:hover::before {
  right: 0;
  transition: all 0.4s ease-in-out;
}

.service:hover,
.service:hover > svg,
.service:hover > .read_more {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.name_email_conainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name_email_conainer div {
  width: 49%;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  margin-top: 20px;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  resize: none;
  background-color: #c1272d;
  color: #ffffff;
}

.contact_form input::placeholder,
.contact_form textarea::placeholder {
  color: #ffffff;
}

.form_button {
  width: 100%;
  background-color: #c1272d;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  margin-top: 10px;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
